doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet")
  body
    header
      div(id='head-title')
        h1 #{title}
      div(id='login-register')
        a(href='www.google.com') login
        a(href='www.google.com') register
    main
      h3 #{title} where all students performances are kept
      p #{title} is designed to maintain data collected from schools. The #{title} app will be used to manage all students' examination grades in a seamless way and also allow parents and administrators the option of monitoring students' performance. #{title} also provides the option to present common data through chart representations. Additionally, for ease of access, we made it simple for users to download spreadsheets of Students' performance based on various customizable filters. This project will make school data more manageable for School Administrators, Principals, Teachers and Parents.
